body{
    background-color: whitesmoke;
    height: auto;
}
header{
    display: flex;
    justify-content:space-around ;

    position:sticky;
    top:0px;
}
img{
   width: 30%;
   height: auto; 
}
#nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
li a{
    text-decoration: none;
    margin: 20px;
    font-size: large;
    font-family: sans-serif;
    color: black;
}
main{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
#title{
    font-size: 2em;

}
#form-id{
    text-align: center;
}
#email{
    width: 60%;
    margin-top: 20px;
    
}
#email-button, #select-button{
    width:30%;
    margin-top: 15px;
    background-color: goldenrod;
    padding: 10px;
}
#email-button:hover, #select-button:hover{
    background-color: rgba(255, 217, 0, 0.705);
    cursor: pointer;
}
#product-features{
    margin: auto;
    width: 60%;
    
}
#premium, #fast-shipping, #quality-assurance{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
#description{
    margin: 0px 80px 0px -150px;
}
#icon{
    margin:0px 80px 0px 80px;
    color:orange
}
#video-div{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    text-align: center;
}
#prices{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#tenor, #bass, #valve{
    border: 1px solid;
    text-align: center;
    width: 32%;
}
#item{
    background-color: grey;
    opacity: 0.4; 
}

footer{
    display: flex;
    justify-content: center;
}
#footer{
    background-color: grey;
    opacity: 0.4;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#footer-links{
    display: flex;
    list-style: none;
}